.page {
  background: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%), url("https://images.pexels.com/photos/1029599/pexels-photo-1029599.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  height: calc(100vh - 50px);
}

.sign-btn {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 2rem;
}
