.container {
  position: relative;
  color: white;
  font-weight: 700;
  z-index: 3;
}

.add-house {
  background-color: white;
  color: var(--green);
}

.add-house:hover {
  background-color: var(--darkgreen);
  color: white;
}

.add-form {
  flex-direction: column;
  align-items: center;
}
