.container {
  position: relative;
  color: white;
  font-weight: 700;
  z-index: 3;
}

.add-house {
  background-color: white;
  color: var(--green);
  width: 10rem;
  border-radius: 3rem;
}

.add-house:hover {
  background-color: rgb(42, 144, 8);
  color: white;
}

.add-form {
  flex-direction: column;
  align-items: center;
}
