.house-details {
  height: calc(100% - 13rem);
  margin: 8rem 2rem 0;
}

.house-det {
  color: rgb(14, 14, 14);
}

.details,
.row {
  height: 100%;
  justify-content: center;
}

.house-imgc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.house-image {
  width: 30rem;
  height: 30rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 24px 30px, rgba(0, 0, 0, 0.22) 0 24px 12px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.reserve-btn {
  display: flex;
  height: 4rem;
  width: 12rem;
  border-radius: 3rem;
  justify-content: space-between;
  align-items: center;
}

.prevr {
  height: 3rem;
  width: 3rem;
  border-radius: 0 3rem 3rem 0;
  position: relative;
}

@media (max-width: 1000px) {
  .house-details {
    margin-top: 3rem;
  }

  .house-image {
    width: 15rem;
    height: 15rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0 24px 30px, rgba(0, 0, 0, 0.22) 0 24px 12px;
  }

  .info {
    align-items: center;
  }

  .prev {
    position: absolute;
    bottom: 1rem;
  }
}
